/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

@layer base {
    hr {
        @apply border-black mx-2 my-2;
    }

    @font-face {
        font-family: tesla;
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(/fonts/TESLA.ttf) format('truetype');
    }
    @font-face {
        font-family: axiforma;
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(/fonts/Axiforma-Light.woff) format('woff');
    }
    @font-face {
        font-family: axiforma;
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url(/fonts/Axiforma-SemiBold.woff) format('woff');
    }
    @font-face {
        font-family: axiforma;
        font-style: normal;
        font-weight: bold;
        font-display: swap;
        src: url(/fonts/Axiforma-ExtraBold.woff) format('woff');
    }
}

@layer components {
    .primary-background {
        background: linear-gradient(180deg, #cdd3df 0%, #d7dbe6 100%);
    }
}
